body {
  background-color: #dae7e6;
}

header h1 {
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
article h1 {
  color: rgb(124, 0, 128);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
article>p:nth-child(odd) {
  color: blueviolet;
}
article>p:nth-child(even) {
  color: orange;
}
header>p:nth-child(even) {
  color: rgb(202, 38, 9);
}
header>p:nth-child(odd) {
  color: blue;
}
blockquote {
  color: rgb(216, 127, 141);
}
li {
  color: tomato;
}
li:nth-of-type(3) {
  color: gold;
}
li {
  list-style-type:square;
  
}
.border {
  border: 5px solid;
}
.border-color {
  border-color: tomato;
}
.border-dotted {
  border-style: dotted;
}
.border-dashed {
  border-style: dashed;
}
.width {
  width: 50%;
}
