body {
  background-color: #dae7e6;
}

header h1 {
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
article h1 {
  color: rgb(124, 0, 128);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
article>p:nth-child(odd) {
  color: blueviolet;
}
article>p:nth-child(even) {
  color: orange;
}
header>p:nth-child(even) {
  color: rgb(202, 38, 9);
}
header>p:nth-child(odd) {
  color: blue;
}
blockquote {
  color: pink;
}