body {
  background-color: #dae7e6;
}

header h1 {
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
article h1 {
  color: green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
article>p:nth-child(odd) {
  color: blueviolet;
}